<link rel="stylesheet" href="/css/footer.css" />
<footer class="site-footer">
    <div class="container">
        <div class="row features-row">
            <div class="col-md-3 col-sm-6 feature-col">
                <div class="feature-item">
                    <div class="feature-icon">
                        <img
                            src="/images/high-quality-icon.png"
                            alt="High Quality"
                        />
                    </div>
                    <div class="feature-content">
                        <h4>High Quality</h4>
                        <p>crafted from top materials</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 feature-col">
                <div class="feature-item">
                    <div class="feature-icon">
                        <img
                            src="/images/warranty-icon.png"
                            alt="Warranty Protection"
                        />
                    </div>
                    <div class="feature-content">
                        <h4>Warrony Protection</h4>
                        <p>Over 2 years</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 feature-col">
                <div class="feature-item">
                    <div class="feature-icon">
                        <img
                            src="/images/shipping-icon.png"
                            alt="Free Shipping"
                        />
                    </div>
                    <div class="feature-content">
                        <h4>Free Shipping</h4>
                        <p>Order over ₹3000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 feature-col">
                <div class="feature-item">
                    <div class="feature-icon">
                        <img
                            src="/images/support-icon.png"
                            alt="24/7 Support"
                        />
                    </div>
                    <div class="feature-content">
                        <h4>24 / 7 Support</h4>
                        <p>Dedicated support</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Content Section -->
        <div class="row footer-content">
            <div class="col-md-4 footer-brand">
                <div class="made-in">
                    <img src="/images/made-in-india.png" alt="Made in India" />
                    <span>Made in India</span>
                </div>
                <p class="store-description">
                    Our store has a wide collection of Casuals and formals that
                    you you are looking for
                </p>
                <div class="copyright">Copyright WEARIT</div>
            </div>
            <div class="col-md-4 footer-contact">
                <h4>Get in Touch</h4>
                <ul class="contact-list">
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>WEARiT Kochi, 682001</span>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:wearit@hello.com"
                            >wearit@clothing.com</a
                        >
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>
                        <a href="tel:+13866883295">+1 386-688-3295</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-social">
                <div class="social-icons">
                    <a href="#" class="social-icon dr">Dr</a>
                    <a href="#" class="social-icon be">Be</a>
                    <a href="#" class="social-icon ig">Ig</a>
                    <a href="#" class="social-icon tw">Tw</a>
                </div>
                <p class="lorem-text">
                    Give the reviews and rating according to your experience
                </p>
            </div>
        </div>
    </div>
</footer>
